# Android Studio
.idea
.gradle
build
local.properties
.DS_Store
.externalNativeBuild
.cxx

# Cache
.cache
/.caches
caches/
/caches/
/out

# Gradle
/build
**/build/

# Kotlin
*.kotlin_module

# Android
.cxx/
.idea/
.gradle/
.local.properties
.DS_Store
/captures/
.externalNativeBuild/

# Other
*.iml
*.hprof
*.log
*.class
*.apk
